# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
dist/
build/

# Test coverage
coverage/

# Operating System
.DS_Store
Thumbs.db 